html {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;

    background-color: #222;
    height: 100%;
    margin: 0 auto;
    color: white;
    font-family: 'Oswald', sans-serif;
    max-width: 800px;
}
main {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%
}
footer {
    flex: 0 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1em;
    height: 40px;
    width: 100%;
    font-size: 0.8em;
    border-top: thin solid #522;
    color: #999;
}

.logo-container {
    display: flex;
    justify-content: center;
}
.logo-container h1 {
    position: relative;
    display: inline-block;
    text-align: center;
    margin: 5px;
    font-size: 5em;
}
.logo-container h1 span:last-child {
    color: #f22;
}
.logo-container h1:after {
    position: absolute;
    content: "";

    border: 2px solid #5EB7FF;
    border-radius: 50%;

    right: 5px;
    bottom: 5px;
    width: 90%;
}

.warning-container {
    margin: 10px auto;
}
.warning-text {
    display: block;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}
img {
    max-height: 150px;
    max-width: 200px;
}
ul {
    list-style: none;
    text-align: center;
    padding: 0;
}
